@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    background: url("https://live.staticflickr.com/3096/2927326077_477a42d651_h.jpg");
    background-size:100%;
    background-position: fixed;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}
body {
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    display: flex;
    justify-content: center;
    gap: 10px;
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    background-color: black;
    width: 100%;
}
button {
    background: none;
    cursor: pointer;
    color: white;
    min-height: 2rem;
    font-size: large;
    font-weight: bold;
    border: none;
}
button:hover {
    color: gray;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: sandybrown;
    border-radius: 4px;
    margin-top: 2rem;
    padding-bottom: 2rem;
}
img {
    width: 100%;
    height: 100%;
    max-width: 800px;
    object-fit: fill;
    border: 4px solid white;
    border-radius: 4px;
}
.menu {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    width: 75%;
    max-width: 1500px;
    gap: 2rem;
}
.imgcontainer {
    height: 300px;
    padding: 2rem;
}
.itemcard {
    text-align: center;
    background: black;
    border: 4px solid white;
}
h2 {
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    background: black;
    width: 100%;
    text-align: center;
}